@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
}

<h2>Employees list</h2>

<table class="table table-hover">
    <thead>
        <tr>Names</tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>@item</td>
            </tr>

        }
    </tbody>
</table>
